/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container .container h1 {
  font-weight: 600;
  text-shadow: 1px 0px 0px white,
              -1px 0px 0px white,
                0px 1px 0px white,
                0px -1px 0px white;
  font-style: italic;
}

/* Text border */
.txt-moto {
  text-shadow: 1px 0px 0px white,
              -1px 0px 0px white,
                0px 1px 0px white,
                0px -1px 0px white;
  /**font-size: 50%;*/
  font-weight: 100;
  /**color: #FFF;*/
}

.parallax-container .img-main {
  min-height: 600px;/*380px*/
  line-height: 0;
  height: auto;
  /**color: rgba(255,255,255,.9);*/
}
  .parallax-container .section {
    width: 100%;
  }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  /**color: rgba(255,255,255,.9);*/
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
/**
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
*/
footer.page-footer {
  margin: 0;
}

.tabs .indicator {
    background-color: #ffd600;
}
table.striped > tbody > tr:nth-child(odd) {
  background-color: #ffcc80;
}